@{
    /**/

    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid embed-responsive">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover table-dark table-responsive">
                    <thead>
                        <tr>
                            <th>

                            </th>
                            <th>
                                Title
                            </th>
                            <th width="110">
                                Date
                            </th>
                            <th>
                                Average
                            </th>
                            <th>
                                Popularity
                            </th>
                            <th>
                                Options
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.ListMovies)
                        {
                            var @id = "id_tr_" + @item.id;

                            <tr id="@id">
                                <td>
                                    <a href="@Url.Action("MovieDetails", "Home", new { Id = @item.id})">
                                        <img src="@Html.Raw("https://image.tmdb.org/t/p/original" + item.poster_path)" width="100" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("MovieDetails", "Home", new { Id = @item.id})" style="color: rgb(255, 255, 255)">
                                        <b>@item.title</b>
                                        <br />
                                        @item.overview
                                    </a>
                                </td>
                                <td>@item.release_date</td>
                                <td>@item.vote_average</td>
                                <td>@item.popularity</td>
                                <td>
                                    @*essa parte foi do teste da meta3*@
                                    <input value="Esconder" type="button" class="btn btn-info" onclick="HideRow(@item.id)" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>

<script type="text/javascript">
    function HideRow(id) {
        var element = "id_tr_" + id;
        document.getElementById(element).style.visibility = 'collapse';
    }
</script>